[Unit]
Description=NiraOS Settings Service
After=graphical-session.target

[Service]
ExecStart=/usr/bin/nira-settingsd
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
